# dependencies

node_modules/
.expo/
dist/
web-build/
npm-debug._
yarn-debug._
yarn-error.\*

# macOS

.DS_Store

# VS Code

.vscode/

# Native generated folders

/ios
/android

# Environment files

.env\*
_.pem
_.jks
_.p8
_.p12
_.key
_.mobileprovision

# Git

.git/
.gitignore

# Expo build cache

.expo-shared/
