<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxmzH_IE5QVOo3bWqk9Vtdt4Bc9ow4q8U</string>
	<key>GCM_SENDER_ID</key>
	<string>875383220631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carlosdelrio.mosaicphotographyapp</string>
	<key>PROJECT_ID</key>
	<string>mosaic-photography-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mosaic-photography-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875383220631:ios:6675057d478f2c483e7cd2</string>
</dict>
</plist>